<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="utf-8">
        <title>Welcome!</title>
        <link rel = "stylesheet" href = "csslayout.css">
    </head>
    <body>
        <div class = "header">
            <div class = "header-text">Welcome!</div>
            <div class = "header-list">
                <ul>
                    <li><a href = "./project.html#contact">Contact me</a></li>
                    <li><a href = "./project.html#links">Links</a></li>
                    <li><a href = "./project.html#about">About me</a></li>
                </ul>
            </div>
        </div>
        <div class = "main">
            <div class = "greetings">
                <h1>HELLO THERE<span>.</sspan></h1>
                <h2>Welcome to my first website project</h2>
            </div>
            <div class = "about-me" id = "about">
                <h3>About me</h3>
                <p>Hi! I'm Mughni Wibisono,</p>
                <div class = "about-me-text">
                <p>I'm currently studiying Computer Science at The University
                    of Indonesia. This is my first website I try to make,</p>
                <p>I know it's not much but feel free to explore!</p>
                </div>
            </div>
            <div class = "links" id = "links">
                <h3><a href = "https://edu.gcfglobal.org/en/computerbasics/understanding-operating-systems/1/">
                        What is an Operating System?</a>
                </h3>
            </div>
            <div class = "contact-me" id = "contact">
                <h3>Contact me</h3>
            </div>
            <div class = "input">
                <input type = "text" name = "name" placeholder = "Name">
                <input type = "email" name = "email" placeholder = "Email">               
            </div>
            <div class = "message">
                <textarea rows = "3" placeholder = "Enter your message"></textarea>
            </div>
            <button class = "button" type = "submit"> Send </button>
        </div>
        <div class = "footer" id = "foot">
            <div class = "social">
                <h3>Social</h3>
                <a class = "ig" href = "https://www.instagram.com/mughni.wibisono/" target = "blank">
                    <img src = "instagram.png">
                </a>
                <a class = "twitter" href = "https://twitter.com/MughniWibisono" target = "blank">
                    <img src = "twitter.png">
                </a>
                <a class = "github" href = "https://github.com/MughniWibisono" targer = "blank">
                    <img src = "GitHub-Mark.png"> 
                </a>
            </div>
        </div>
    </body>
</html>
